<table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th></th>
        <th>Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let phone of phones"
        [ngClass]="{ inoffert: phone.inOffert, sin: phone.stock == 0 }"
      >
        <td>
          <img class="icon img-thumbnail"[src]="phone.image" [alt]="phone.model"/>
        </td>
        <td>{{ phone.brand }}</td>
        <td>{{ phone.model }}</td>
        <td>{{ phone.price | currency }}</td>
        <td>
          <span class="badge text-bg-dark" *ngIf="phone.stock == 0">SIN STOCK</span>
        </td>
        <td>
          <app-input-int [(quantity)]="phone.quantity" [max]="phone.stock" *ngIf="phone.stock" (maxReached)="maxReached($event)"></app-input-int>
        </td>
      </tr>
    </tbody>
  </table>
  