<div class="row">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phone of phones" [ngClass]="{ inoffert: phone.inOffert, sin: phone.stock == 0 }">
          <td>
            <img class="icon img-thumbnail"[src]="phone.image" [alt]="phone.model" (click)="selectPhone(phone)"/>
          </td>
          <td>{{ phone.brand }}</td>
          <td>{{ phone.model }}</td>
          <td>{{ phone.price | currency }}</td>
          <td>
            <span class="badge text-bg-dark" *ngIf="phone.stock == 0">SIN STOCK</span>
            <span class="badge text-bg-dark" *ngIf="phone.stock != 0">{{phone.stock}}</span>
          </td>
          <td>
            <button *ngIf="phone.stock" type="button" class="btn btn-outline-dark"(click)="selectPhone(phone)">selecionar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 ">
    <div class="card ">
      <app-phone [phone]="SlecetedPhone"></app-phone>
    </div>
  </div>
</div>