<h3>Carrito de compras!!</h3>
<div class="row">
    <div class="card " style="width: 18rem;" *ngFor=" let phone of cartList">
        <img [src]="phone.image" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{phone.model}}</h5>
            <p class="card-text text-bg-secondary ">{{phone.price |currency}}x{{phone.quantity}}</p>
        </div>
        <button  type="button" class="btn btn-outline-danger" (click)="deleteToCart(phone)">eliminar</button>
    </div> 
</div>
<div>
    <span class="text-bg-secondary p-3">Total:{{total() | currency}}</span>
</div>


