<h2>Carrito de compras 🛒</h2>
<div class="row" *ngIf="total() != 0">
    <div class="card " style="width: 18rem;" *ngFor=" let phone of cartList">
        <img [src]="phone.image" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{phone.model}}</h5>
            <p class="card-text text-bg-secondary ">{{phone.price |currency}}x{{phone.quantity}}</p>
        </div>
        <button  type="button" class="btn btn-outline-danger" (click)="deleteToCart(phone)">eliminar</button>
    </div> 
</div>
<div *ngIf="total() === 0">
    <p class="line-1 anim-typewriter">AGREGUE ALGO AL CARRITO POR FAVOR</p>
    <p class="line-1 anim-typewriter">😔</p>
</div>

<div>
    <button type="button" class="btn-toBuy btn btn-outline-dark" (click)="toBuy()" [routerLink]="['/']">Total:{{total() | currency}}</button>
</div>


